/* \\\\Gerais\\\\ */

body{
    background-color: rgb(241, 225, 255);
}

h1{
    text-align: center;
}

/* \\\\Cabeçalho\\\\ */

.cabeçalho{
    display:flex;
    justify-content: space-between;
    background: rgb(181, 132, 204);
    align-items: center;
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px 40px;
    width: 100%;
    box-sizing: border-box;
}

.menu .nome{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}




.menu .submenu-cima {
    margin: 0;
    display: flex;
    align-items: center;
}

.menu .submenu-cima ul {
    list-style: none;
    
}

.submenu-cima nav {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    padding: 40px; 
}

.submenu-cima ul{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin: 20px;
    padding: 0;
    gap: 30px
}
   
.submenu-cima ul li {
    margin-right: 10px;
    font-size: 1vw;
}

/* \\\\Body cadastro e login\\\\ */

.login-cadastro-body{ 
    display: flex;
    justify-content: center; 
    align-items: center;
}
.login-cadastro{
    font-size: 20px;
    display: flex;
    justify-content: center; 
    background-color:rgb(181, 132, 204);
    padding: 90px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    margin-top: 10%;
    
}

/* \\\\Produtos\\\\ */

.todososprodutos {
    display: flex;
    justify-content: center; 
    background-color: rgb(74, 47, 87);
    width: 100%;
    min-height: 400px;
    padding: 60px 0; /
}


.produtinhos { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;         
    gap: 30px;               
    width: 100%;             
    max-width: 1200px;       
} 

.produtos { 
    align-items: center;
    justify-content: flex-start; 
   

}

.produtos ul{
    list-style-type: none; 

}

#foto {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(181, 132, 204);
    width: 190px; 
    height: 250px; 
    border-radius: 8px;
    margin: 0;     
    text-align: center;
    box-sizing: border-box;
}
    
/* \\\\Busca\\\\ */

#busca {
    border-radius: 5px;
}

/* \\\\Carrinho\\\\ */

.item{
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.item ul{
    padding-left: 20px;
    list-style-type: none;
}

/* \\\\Produtos em detalhes\\\\ */

.produto_detalhes{
    display: flex;
    justify-content: flex-start; 
}

.produto_detalhes ul{
    margin-top: 0px;
    padding-left: 20px;
    list-style-type: none;
}

.produto_detalhes li{
   margin-bottom: 5px;
   font-size: 20px;
}

#produto_nome_detalhes{

    font-size: 40px;
    padding-bottom: 20px;
}

/* \\\\Avaliações\\\\ */

.avaliacoes ul{

    list-style-type: none;
    padding-left: 20px;
}

.avaliacoes li{

   margin-bottom: 10px;

}

/* \\\\Detalhes\\\\ */

button{
    border-radius: 5px;
    width: 80px;
    background-color: rgb(181, 132, 204);
}
    
img{border-radius: 50px;}
