
.cabeçalho{
    display:inline-block;
    justify-content: space-between;
    background: rgb(181, 132, 204);
    align-items: center;
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    padding: 20px 40px;
    width: 100%;
    box-sizing: border-box;
}

.menu h1 {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%); 
    margin: 0;
    text-align: center;
}


.menu .submenu {
    margin: 0;
}

.menu .submenu ul {
    list-style: none;
}

.submenu nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 40px; 
}

.submenu ul{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin: 20px;
    padding: 0;
    gap: 10px
}
   
.submenu ul li {
    margin-right: 10px;
}

body{
    background-color: rgb(241, 225, 255);
}

.login-cadastro-body{ 
    display: flex;
    justify-content: center; 
    align-items: center;
}
.login-cadastro{
    font-size: 20px;
    display: flex;
    justify-content: center; 
    background-color:rgb(181, 132, 204);
    padding: 90px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    margin-top: 10%;
    
}

.todososprodutos {
    display: flex;
    justify-content: center; 
    background-color: rgb(74, 47, 87);
    width: 100%;
    min-height: 400px;
    padding: 60px 0; /
}


.produtinhos { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;         
    gap: 30px;               
    width: 100%;             
    max-width: 1200px;       
} 

.produtos { 
    display: flex;
    justify-content: center;
}


#foto {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(181, 132, 204);
    width: 190px; 
    height: 250px; 
    border-radius: 8px;
    margin: 0;     
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}
    
#busca {
    border-radius: 5px;
}

h1{
    text-align: center;
}

.item{
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.item ul{
    padding-left: 20px;
    list-style-type: none;
}